<!DOCTYPE html>
<html>
<head>
    <title>Employee System</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Companies</h1>
<table border="1">
<tr>
    <th>Company</th>
    <th>Number of Employees</th>
</tr>
<% companies.forEach(c => { %>
<tr>
    <td><%= c.name %></td>
    <td><%= c.employees %></td>
</tr>
<% }); %>
</table>
</body>
</html>
